name: Test sigstore client with rekor2 bundles

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  sign:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          cache: "pip"

      - name: Create a bundle with rekor2
        run: |
          touch artifact
          python -m pip install sigstore
          # use prod services, but rekor 2
          python -m sigstore --trust-config trust-config-with-rekor2-signing.json sign artifact

      - uses: actions/upload-artifact@v4
        with:
          name: bundle
          path: artifact.sigstore.json

  sigstore-python-verify-rekor2:
    runs-on: ubuntu-latest
    needs: sign
    continue-on-error: true
    strategy:
      matrix:
        sigstore-python-version: [4.2.0, 4.1.0, 4.0.0, 3.6.7, 3.6.6, 3.6.5, 3.5.6, 3.5.4]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: bundle

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          cache: "pip"

      - name: Verify the rekor2 bundle
        run: |
          touch artifact
          python -m pip install sigstore==${{ matrix.sigstore-python-version }}
          python -m sigstore verify github \
            --cert-identity "https://github.com/jku/sigstore-verify-test/.github/workflows/rekor2-verify.yml@refs/heads/main" \
            artifact

  cosign-verify-rekor2:
    runs-on: ubuntu-latest
    needs: sign
    continue-on-error: true
    strategy:
      matrix:
        cosign-version: [2.6.2, 3.0.4]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: bundle

      - name: Install Cosign
        uses: sigstore/cosign-installer@v4.0.0
        with:
          cosign-release: v${{ matrix.cosign-version }}

      - name: Verify the rekor2 bundle
        run: |
          touch artifact
          cosign verify-blob \
              --certificate-identity https://github.com/jku/sigstore-verify-test/.github/workflows/rekor2-verify.yml@refs/heads/main \
              --certificate-oidc-issuer  https://token.actions.githubusercontent.com \
              --bundle artifact.sigstore.json \
              artifact
