name: Test sigstore client with rekor2 image signatures

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  sign:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Cosign
        uses: sigstore/cosign-installer@v4.0.0
        with:
          cosign-release: v3.0.4

      - name: Push image to ttl.sh
        run: |
          REKOR2_NEW_BUNDLE="ttl.sh/sigstore-verify-test-${{ github.run_id }}-rekor2-new-bundle:1h"
          REKOR1_NEW_BUNDLE="ttl.sh/sigstore-verify-test-${{ github.run_id }}-rekor1-new-bundle:1h"

          docker pull alpine:latest
          docker tag alpine:latest $REKOR2_NEW_BUNDLE
          docker tag alpine:latest $REKOR1_NEW_BUNDLE

          docker push $REKOR2_NEW_BUNDLE
          docker push $REKOR1_NEW_BUNDLE

      - name: Sign images with cosign
        run: |
          cosign sign \
            --signing-config rekor2-signing-config.json \
            "ttl.sh/sigstore-verify-test-${{ github.run_id }}-rekor2-new-bundle:1h"

          cosign sign \
            "ttl.sh/sigstore-verify-test-${{ github.run_id }}-rekor1-new-bundle:1h"

  sign-old:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Cosign
        uses: sigstore/cosign-installer@v4.0.0
        with:
          cosign-release: v2.6.2

      - name: Push image to ttl.sh
        run: |
          REKOR1_OLD_BUNDLE="ttl.sh/sigstore-verify-test-${{ github.run_id }}-rekor1-old-bundle:1h"

          docker pull alpine:latest
          docker tag alpine:latest $REKOR1_OLD_BUNDLE

          docker push $REKOR1_OLD_BUNDLE

      - name: Sign images with an old cosign
        run: |
          # this should produce an "old bundle" format
          cosign sign --yes \
            "ttl.sh/sigstore-verify-test-${{ github.run_id }}-rekor1-old-bundle:1h"

  verify-cosign:
    runs-on: ubuntu-latest
    needs: [sign, sign-old]
    continue-on-error: true
    strategy:
      matrix:
        cosign-version: [2.2.0, 2.2.1, 2.2.2, 2.2.3, 2.2.4, 2.3.0, 2.4.0, 2.4.1, 2.4.2, 2.4.3, 2.5.0, 2.5.0, 2.5.1, 2.5.2, 2.5.3, 2.6.0, 2.6.1, 2.6.2, 3.0.1, 3.0.2, 3.0.3, 3.0.4]
        extra-flags: ["", "--use-signed-timestamps"]
        rekor-version: ["rekor1-new-bundle", "rekor1-old-bundle", "rekor2-new-bundle"]
    steps:
      - name: Install Cosign
        uses: sigstore/cosign-installer@v4.0.0
        with:
          cosign-release: v${{ matrix.cosign-version }}

      - name: Verify with cosign
        run: |
          IMAGE_NAME="ttl.sh/sigstore-verify-test-${{ github.run_id }}-${{matrix.rekor-version}}:1h"

          cosign verify $IMAGE_NAME \
              --certificate-identity https://github.com/jku/sigstore-verify-test/.github/workflows/rekor2-verify-image.yml@refs/heads/main \
              --certificate-oidc-issuer  https://token.actions.githubusercontent.com \
              ${{ matrix.extra-flags }}

      - name: Double check that entry is rekor2
        if: matrix.rekor-version == 'rekor2-new-bundle'
        run: |
          IMAGE_NAME="ttl.sh/sigstore-verify-test-${{ github.run_id }}-${{matrix.rekor-version}}:1h"
          # this fails on 3.0.1 and 3.0.2 likely because it uses wrong registry referrer mode
          cosign download signature $IMAGE_NAME | grep "{\"kind\":\"dsse\",\"version\":\"0.0.2\"}"
