name: Test sigstore client with rekor2 bundles

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  sign:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14"

      - name: Create a bundle with rekor2
        run: |
          touch artifact
          python -m pip install sigstore
          # Sign artifact with production sigstore.dev, but use rekor 2
          python -m sigstore --trust-config trust-config-with-rekor2-signing.json sign artifact

          # sign an attestation with production sigstore.dev, but use rekor 2
          sigstore --trust-config trust-config-with-rekor2-signing.json attest \
              --predicate-type "https://slsa.dev/provenance/v1" \
              --predicate "slsa_predicate_v1_0.json" \
              --bundle attestation.sigstore.json \
              artifact

      - uses: actions/upload-artifact@v4
        with:
          name: bundles
          path: "*.sigstore.json"

  verify-sigstore-python:
    runs-on: ubuntu-latest
    needs: sign
    continue-on-error: true
    strategy:
      matrix:
        sigstore-python-version: [4.2.0, 4.1.0, 4.0.0, 3.6.7, 3.6.6, 3.6.5, 3.5.6, 3.5.4]
        bundle: [artifact, attestation]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: bundles

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14"

      - name: Verify the rekor2 bundle
        run: |
          touch artifact
          python -m pip install sigstore==${{ matrix.sigstore-python-version }}
          python -m sigstore verify github \
            --cert-identity "https://github.com/jku/sigstore-verify-test/.github/workflows/rekor2-verify.yml@refs/heads/main" \
            --bundle ${{ matrix.bundle }}.sigstore.json \
            artifact

  verify-cosign:
    runs-on: ubuntu-latest
    needs: sign
    continue-on-error: true
    strategy:
      matrix:
        cosign-version: [2.2.0, 2.2.1, 2.2.2, 2.2.3, 2.2.4, 2.3.0, 2.4.0, 2.4.1, 2.4.2, 2.4.3, 2.5.0, 2.5.0, 2.5.1, 2.5.2, 2.5.3, 2.6.0, 2.6.1, 2.6.2, 3.0.1, 3.0.2, 3.0.3, 3.0.4]
        extra-flags: ["", "--use-signed-timestamps", "--use-signed-timestamps --new-bundle-format"]
        bundle: [artifact, attestation]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: bundles

      - name: Install Cosign
        uses: sigstore/cosign-installer@v4.0.0
        with:
          cosign-release: v${{ matrix.cosign-version }}

      - name: Verify the rekor2 bundle
        run: |
          touch artifact
          cosign verify-blob \
              --certificate-identity https://github.com/jku/sigstore-verify-test/.github/workflows/rekor2-verify.yml@refs/heads/main \
              --certificate-oidc-issuer  https://token.actions.githubusercontent.com \
              --bundle ${{ matrix.bundle }}.sigstore.json \
              ${{ matrix.extra-flags }} \
              artifact

  verify-sigstore-js:
    runs-on: ubuntu-latest
    needs: sign
    continue-on-error: true
    strategy:
      matrix:
        # note that sigstore-js does not have versions. this is really the sigstore/cli version
        sigstore-js-version: [0.7.0, 0.7.1, 0.8.0, 0.8.1, 0.8.2, 0.9.0]
        bundle: [artifact, attestation]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: bundles

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0

      - name: Install sigstore-js
        run: npm install -g @sigstore/cli@${{ matrix.sigstore-js-version }}

      - name: Verify the rekor2 bundle
        run: |
          touch artifact
          sigstore verify \
              --certificate-identity-uri https://github.com/jku/sigstore-verify-test/.github/workflows/rekor2-verify.yml@refs/heads/main \
              --certificate-issuer https://token.actions.githubusercontent.com \
              --blob-file=artifact \
              ${{ matrix.bundle }}.sigstore.json

  verify-sigstore-java:
    runs-on: ubuntu-latest
    needs: [sign]
    continue-on-error: true
    strategy:
      matrix:
        sigstore-java-version: [1.0.0, 1.1.0, 1.2.0, 1.3.0, 2.0.0]
        bundle: [artifact, attestation]
    steps:
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: ${{ startsWith(matrix.sigstore-java-version, '1.') && '17' || '21' }}
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: "sigstore/sigstore-java"
          fetch-tags: true
          fetch-depth: 0
          persist-credentials: false

      - name: Build cli from tag
        run: |
          git checkout v${{ matrix.sigstore-java-version }}
          ./gradlew :sigstore-cli:installDist -x test -x check

      - name: Download bundle to verify
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: bundles

      - name: verify with sigstore-java
        run: |
          touch artifact

          sigstore-cli/build/install/sigstore-cli/bin/sigstore-cli verify-bundle \
              --bundle ${{ matrix.bundle }}.sigstore.json \
              --certificate-identity https://github.com/jku/sigstore-verify-test/.github/workflows/rekor2-verify.yml@refs/heads/main \
              --certificate-oidc-issuer https://token.actions.githubusercontent.com \
              artifact
  sigstore-ruby:
    runs-on: ubuntu-latest
    needs: [sign]
    continue-on-error: true
    strategy:
      matrix:
        sigstore-ruby-version: [0.2.0, 0.2.1, 0.2.2]
        bundle: [artifact, attestation]
    steps:
      - name: Set up Ruby
        uses: ruby/setup-ruby@90be1154f987f4dc0fe0dd0feedac9e473aa4ba8 # v1.286.0
        with:
          ruby-version: 3.2

      - name: Install sigstore-ruby
        run: gem install sigstore-cli -v ${{matrix.sigstore-ruby-version}}

      - name: Download bundle to verify
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: bundles

      - name: verify with sigstore-ruby
        run: |
          touch artifact

          sigstore-cli verify \
              --bundle=${{matrix.bundle}}.sigstore.json \
              --certificate-identity=https://github.com/jku/sigstore-verify-test/.github/workflows/rekor2-verify.yml@refs/heads/main \
              --certificate-oidc-issuer=https://token.actions.githubusercontent.com \
              artifact
