name: Test sigstore client with rekor2 bundles

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  sign:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          cache: "pip"

      - name: Create a bundle with rekor2
        run: |
          touch artifact
          python -m pip install sigstore
          # use prod services, but rekor 2
          python -m sigstore --trust-config trust-config-with-rekor2-signing.json sign artifact

      - uses: actions/upload-artifact@v4
        with:
          name: bundle
          path: artifact.sigstore.json


